input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
     text-align:center;
      

}
button {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    margin-left:650px;
}
/* label{
margin-left:200px;
}
#pas{
margin-left:200px;
} */
.container{
    margin-left:500px; 
}
h2{
    
        color: blue;
    
}